* {
  margin: 0;
  padding: 0;
  animation-delay: 1.9s;
}

body {
  background-image: linear-gradient(to bottom, #6a96ef, #84cc1e);
  height: 100vh;
  animation-delay: 1.9s;
}

/* KEYFRAMES ANIMATTION */
@keyframes snowRight {
  100% {
    width: 0;
  }
}
